/* Body styles */
body{
  margin: 0px;
  background-color: #ffffff;
}

/* Green background colour to navigation bar */
.topnav{
    background-color: #3d6e3d;
    overflow: hidden;
}

/* Link style */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Link hover */
.topnav a:hover {
    background-color: red;
    color: black;
}

/* Active link */
.topnav a.active {
    background-color: red;
    color: black;
}

/* Logo */
.logo {
    width: 100%;
    text-align: center;
    padding: 5% 10%;
}

/* Headers */
h1{
    color: rgb(22, 121, 30);
    font-size: 35px;
    margin-left: 5%;
}

h2{
    color: rgb(216, 0, 0);
    font-size: 35px;
    margin-left: 5%;
}

h3{
  color: rgb(22, 121, 30);
  text-align: center;
  font-size: 35px;
}

h4{
  font-size: 90px;
  text-align: center;
  margin-top: 150px;
}

h5{
  font-size: 40px;
  color: rgb(22, 121, 30);
}
h6{
  font-size: 40px;
  color: rgb(22, 121, 30);
  margin-left: 5%;
}

/* Paragraphs */
p{
    font-size: 18px;
    margin: 1.5% 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mission{
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Footer */
footer{
    background-color: rgb(61, 110, 61);
    padding: 20px;
    padding-left: 6%;
    padding-right: 6%;
  }

  .footer{
    background-color: rgb(61, 110, 61);
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .footer p{
    font-size: 10px;
    text-align: center;
  }

  .footer p a{
    color:  black;
    text-transform:capitalize;
    font-size: 11px;
  }

  .footer1{
    margin-top: 40px;
    background-color: rgb(196, 255, 200);
    font-family: 'Ubuntu Condensed', sans-serif;
  }

  .add{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin: auto;
  }

  .foot{
    margin: auto;
    padding: 2%;
  }

  #su{
    text-align: center;
  }

  #address{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }

/* All images */
.sample{
    width: 60%;
    padding: 2% 20%;
}

.flyer {
  width: 100%;
  padding: 3% 15%;
}

/* Courses */
.fifthimages{
  width: 310px;
  padding: 1%;
  display: flex;
}

.fifthimages hr{
  margin-bottom: -20px;
  background-color: rgb(7, 83, 0);
}

.top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lap{
  border: rgb(7, 83, 0);
  border-width: 2px;
  border-style: solid;
  padding-bottom: 20px;
  height: 340px;
  width: 320px;
  font-size: 28px;
  padding: 2%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: red;
}

.lap hr{
  background-color: rgb(7, 83, 0);
}

/* Gallery */
.cards {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  list-style: none;
  transform: translateY(-80%) translateX(-51.5%);
  margin-top: 18rem;
}

.cards li {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 16rem;
  height: 9rem;
  transition-duration: .5s;
  overflow: hidden;
  cursor: pointer;
}

.cards li .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.cards li:hover {
  transition-delay: .5s;
  width: 30rem;
  height: 18rem;
}

/* Media Query */
@media screen and (max-width: 950px) {
  .fifthimages {
    width: 245px;
  }
  .lap{
  height: 280px;
  width: 250px;
  font-size: 20px;
  }
  h4{
    font-family: 60px;
  }
  h5{
    font-size: 45px;
  }
  h6{
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    font-size: 17px;
    padding: 10px 9px;
}
  .para{
    font-size: 16px;
  }
  h6{
    font-size: 30px;
  }
  h4{
    font-size: 30px;
  }
  h5{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }

  .para{
    font-family: 'Barlow', sans-serif;
    margin: 1% 5%;
  }
  
  .container{
    margin-top: 10%;
  }
  .cards {
    transform: translateY(-40%) translateX(-57%);
  }
  
  .cards li {
  padding-bottom: 10px;
  padding: 2%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
  height: 10rem;
  }
  
}

/* Social media icons and links */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 3px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #2c4a8b;
  color: white;
  border-radius: 100px;
  
}

.fa-instagram {
  background: rgb(247, 0, 62);
  color: rgb(255, 255, 255);
  border-radius: 100px;
}

.social{
  margin-left: 4%;
}

/* Slide */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #fffefe;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

